body {
    color: #333;
	font-family: $FONT_FAMILY;
}

main {
    box-sizing: border-box;
	margin: 0 auto;
	max-width: 600px;
	padding: 0 10px;
	width: 100%;
}

a {
    color: #F24848;
}

a:hover,
a:focus {
    background-color: #F24848;
    color: #fff;
    padding: 0 2px;
    margin: 0 -2px;
    text-decoration: none
}

a:visited {
    color: #862A99
}

a:visited:hover,
a:visited:focus {
    background-color: #862A99;
    color: #fff
}

button {
    cursor: pointer;
}

input {
    border: 1px solid #000;
    font-family: $FONT_FAMILY;
}

input[type='submit'] {
    cursor: pointer;

    &:hover {
        background-color: darken(#c0c0c0, 10%);
    }
}

table {
    width: 100%;
}

tr {
    padding: 0;

    &:nth-child(even){
        background-color: #f5f5f5;
    }
}

td {
    padding: 5px 0;
    vertical-align: top;
}