<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="/css/page.css" />
		<title></title>
	</head>
	<body>

		<main>

			<!-- Current song -->
			{{> current}}

			{{> error}}

			{{> queue}}

			{{> search}}

			{{> results}}

		</main>

	</body>
</html>