<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="/css/page.css" />
		<title></title>
	</head>
	<body>

		<main>

			<!-- Current song -->
			<div class="current-track">
				<h3 class="current-track__title">Current song</h3>
				<h2 class="current-track__song track"><span class="track__name">The Most Cursed of Hands / Who Am I</span> by <span class="track__artist">The Dear Hunter</span> <a href="#" title="View on spotify">(View on spotify)</a></h2>
			</div>

			{{> error}}

			{{> queue}}

			{{> search}}

			{{> results}}

		</main>

	</body>
</html>